.audio_module{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    align-items: flex-start;
}

.audio_module .open{
    height: 600px;
    width: 300px;
}
  
  .audio_module .closed{
    height: 0;
    width: 0;
  }