* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.audio{
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s all;
}

.audio.open{
  height: 600px;
  width: 300px;
  align-items: flex-start;
  font-size: larger;
}

h3{
  margin-left: auto;
  margin-right: auto;
}
.open_title{
  margin-top: 15px;
}

.hidden{
  display: none;
}
.visible{
  display: block;
}

button{
  padding: 10px;
  width: 300px;
  border-radius: 0%;
  border: 1px solid white;
  background-color: #000000;
}

.cover{
  display: flex;
  flex-direction: column;
  align-items: center;
}